<div style="text-align:center; margin-top: 50px;">
  <h1>
    欢迎来到 {{ title }}！
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<hr>
<div style="text-align: center">
  <span>请选择食材：</span>
  <select name="majorIngred" [(ngModel)]="majorIngred" style="margin: 5px;">
    <option value="">---请选择---</option>
    <option value="猪肉">猪肉</option>
    <option value="牛肉">牛肉</option>
    <option value="鸡肉">鸡肉</option>
    <option value="鱼肉">鱼肉</option>
  </select>
  <br>
  <span>请选择辅料：</span>
  <select name="minorIngred" [(ngModel)]="minorIngred" style="margin: 5px;">
    <option value="">---请选择---</option>
    <option value="花生">花生</option>
    <option value="墨西哥辣椒">墨西哥辣椒</option>
    <option value="大葱">大葱</option>
    <option value="花椒">花椒</option>
  </select>
  <br>
  <button class="btn btn-outline-primary" (click)="clickToCook()">开始烹调！</button>
  <button *ngIf="startCooking" class="btn btn-outline-primary" (click)="resetKitchen()">重置厨房！</button><br>
  <span *ngIf="startCooking">你选的食材是{{ majorIngred }}，辅料是{{ minorIngred }}</span>
  <br>
  <p *ngIf="startCooking">恭喜你，做出了一道{{ dish }}！</p>
</div>
